#avatar-name {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5ee5f;
  background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
}

#main-avatar {
  width: 200px;
}

header h2 {
  color: #3565B0;
}