/* Possible Mobile sizes */
@media only screen and (max-width: 438px) {
  nav {
    height: 170px;
    justify-content: center;
  }

  .tweet-header {
    flex-direction: column;
  }

  #avatar-name {
    margin-top: 170px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  #avatar-name {
    width: 40%;
    height: 600px;
    float: left;
    margin-left: 3em;
    margin-top: 200px;
    position: fixed;
    background-color: #f5ee5f;
    background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
  }

  .container {
    width: 50%;
    float: right;
    margin-top: 200px;
  }

  nav {
    background-color: #4056A1;
  }

  form {
    padding-top: 0;
  }

  #logo {
    color: #FFFFFF;
  }

  .nav-container {
    color: #FFFFFF;
  }
}