/* Possible Mobile sizes */
@media only screen and (max-width: 438px) {
  nav {
    height: 170px;
    justify-content: center;
  }

  .tweet-header {
    flex-direction: column;
  }

  #avatar-name {
    margin-top: 170px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  #avatar-name {
    width: 40%;
    float: left;
    margin-left: 3em;
    margin-top: 200px;
    position: fixed;
  }

  .container {
    width: 50%;
    float: right;
    margin-top: 120px;
  }
}