nav {
  height: 120px;
  width: 100%;
  background-color: #f5ee5f;
  background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
  padding: 0 1.5em;
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  top: 0;
}

#logo {
  font-size: 1.5em;
  padding-top: 25px;
  color: #3565B0;
}

#tweet {
  display: flex;
  flex-direction: column;
}

.nav-container {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  color: #3565B0;
}

.heavy-font {
  font-weight: 600;
}

.red {
  color: red;
}