form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

textarea {
  margin-top: 10px;
  border-style: none none dotted none;
  resize: none;
  outline: none;
  height: 35px;
  background-color: #f4f1ec;
  font-size: 0.8em;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 0.8em;
  border: none;
  padding: 10px;
}

.smaller-font {
  font-size: 0.9em;
}

button:hover {
  background-color: #5C78D9;
  color: #444448;
}

.error-message {
  border: 2px solid red;
  text-align: center;
  color: red;
  margin: 20px 40px 0;
  padding: 10px 0;
}