article.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  margin: 40px;
  padding: 20px;
}

.tweet:hover {
  box-shadow: 4px 4px 2px 1px #6F96E2; 
}

.article-avatar {
  width: 50px;
}

.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tweet-handle {
  display: flex;
  flex-direction: row;
  opacity: 0.3;
}

.tweet-footer {
  font-size: 0.5em;
  border-style: solid none none none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-name {
  padding-left: 10px;
}